
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Iosevka Charon Mono", monospace;;
    font-weight: bold;

}

body,html{
    height:100%;
    width:100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #789a99;
    display: flex;
    align-items: center;
    place-content: center;

}

.box{
    width: 70%;
    height: 40%;
    background-color: #ffd2c2;
    border-radius: 20px;
    transition: 0.2s ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box:hover{
    transform: translateY(-10px);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;}

#l1{
    display: block;     
    align-self: flex-start;
    margin-left: 4.1em;
    margin-top: 2rem;
    font-size: 1rem;
}

#f1{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.URlsel{
    padding: 9px;
    width:80%;
    font-size: 12px;
    margin: 10px 0px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    outline: none;
    font-weight: 500;
}

#u1{
    height: 55%;
}
.breaker{
    width: 100%;
    height: 1%;
}

@keyframes wobble {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-6px); }
  80% { transform: translateX(6px); }
  100% { transform: translateX(0); }
}

.wobble{
  animation: wobble 0.35s;
  border: 2px solid red;
}

@media (max-width:700px){
    .box{
        width: 90%;
        height : 20%;
    }
    #l1{
        margin-left: 2.8rem;
    }

}

@media (min-width : 700px) and (max-width : 800px){
    .box{
        width: 80%;
        height : 20%;
    }
    #l1{
        margin-left: 4rem;
    }
}

@media(min-width:1080px){
    .box{
        width:40%;
        height: 40%;
    }

    .URlsel{
        width: 80%;
    }
    #l1{
        margin-left: 3.2rem;
    }

}

@media (min-width:1700px){
    .box{
        width:40%;
        height: 20%;
    }
    .URlsel{
        width: 85%;
    }
}